
.ftr-top{
	padding-bottom: 80px;
}
.ftr-top-inr{
	display: flex;
	max-width: 1050px;
	width: 100%;
	padding-left: 17px;
}

.ftr-col{
	padding-right: 70px;
}
.ftr-col.ftr-adrs {
    padding-right: 50px;
}
.ftr-menu{
	width: 52.8571%;
	order: 1;
	display: flex;
    flex-wrap: wrap;
}
.ftr-contact-menu{
	width: 21.4285%;
	order: 2;
}
.ftr-adrs{
	width: 25.7142%;
	order: 3;
}

.ftr-menu ul{
    width: 50%;
}
.ftr-menu ul li{
	width: 100%;
	padding-bottom: 3px;
	padding-right: 10px;
}
.ftr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #323538;
	text-decoration: none;
}
.ftr-menu ul li.current-menu-item a,
.ftr-menu ul li a:hover{
	color: #13a89e;
	text-decoration: underline;
}

.ftr-contact-menu a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #323538;
	font-weight: 300;
}
.ftr-contact-menu a:hover,
.ftr-adrs a:hover,
.ftr-btm-menu ul li a:hover{
	color: #13a89e;
}

.ftr-adrs a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #323538;
	font-weight: 300;
}


.ftr-btm-inr{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	padding-left: 17px;
}

.ftr-btm-menu{
	margin-left: auto;
}

.ftr-copyright p{
	margin-bottom: 0;
	font-size: 15.5px;
	font-weight: 400;
}
.ftr-btm-menu ul{
	display: flex;
	flex-wrap: wrap;
}
.ftr-btm-menu ul li{
	padding-left: 10px;
	padding-right: 10px;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 15.5px;
	font-weight: 400;
	color: #3b393e;
	text-decoration: none;
}


@media(max-width: 1199px){
	.ftr-col {
	    padding-right: 40px;
	}
	.ftr-menu {
	    width: 50.8571%;
	}
	.ftr-contact-menu {
	    width: 21.4285%;
	}
	.ftr-adrs {
	    width: 27.7142%;
	}
	.ftr-top {
	    padding-bottom: 65px;
	}
}

@media(max-width: 991px){
	.ftr-top {
	    padding-bottom: 50px;
	}
	.ftr-col {
	    padding-right: 30px;
	}
	.ftr-menu {
	    width: 35%;
	}
	.ftr-contact-menu {
	    width: 30%;
	}
	.ftr-adrs {
	    width: 30%;
	}
	.ftr-menu ul {
	    display: block;
	    width: 100%;
	}
	.ftr-menu ul li {
	    width: 100%;
	    padding-bottom: 5px;
	}
	.ftr-menu ul li a{
	    font-size: 19px;
	}
}

@media(max-width: 767px){
	.footer-wrp{
		padding-bottom: 12px;
	}
	.ftr-top-inr{
		display: block;
	}
	.ftr-log{
		padding-bottom: 30px;
	}
	.ftr-log a{
		display: inline-block;
		vertical-align: baseline;
	}
	.ftr-col {
	    padding-right: 0;
	}
	.ftr-adrs{
		width: 100%;
		padding-bottom: 30px;
	}
	.ftr-contact-menu{
		width: 100%;
		padding-bottom: 50px;
	}
	.ftr-menu{
	    width: 100%;
	}
	.ftr-adrs a{
		font-size: 27px;
		line-height: 33px;
	}
	.ftr-contact-menu a{
		display: block;
		font-size: 27px;
		line-height: 33px;
	}
	.ftr-menu ul li{
		padding-bottom: 5px;
		padding-right: 0;
	}
	.ftr-menu ul li a{
		font-size: 27px;
		font-weight: 500;
		line-height: 33px;
	}
	.ftr-copyright p{
	    font-size: 20px;
	}
	.ftr-menu ul {
        width: 100%;
        padding-bottom: 45px;
    }
    .ftr-top {
        padding-bottom: 0px;
    }
    .ftr-btm-inr, 
    .ftr-top-inr {
         padding-left: 0px; 
    }
    .btm-angle-inr{
        max-width: 70%;
        margin-bottom: 0;
    }
}
@media(max-width: 489px){
	.ftr-btm-inr,
	.ftr-top-inr{
		padding-left: 0;
	}
	.ftr-adrs a,
	.ftr-menu ul li a{
	    font-size: 25px;
	}
	.ftr-copyright p {
        font-size: 17px;
    }
    .ftr-contact-menu{
        padding-bottom: 40px;
    }
    .ftr-menu ul{
        padding-bottom: 35px;
    }
    .footer-wrp {
         padding-bottom: 0; 
    }
    
}
@media(max-width: 359px){
    .ftr-adrs a, 
    .ftr-menu ul li a {
        font-size: 23px;
    }
}