.header{

}
.header-inr{
	display: flex;
	flex-wrap: wrap;
}
.hdr-lft{

}
.logo{

}
.logo a{
	display: inline-block;
	max-width: 340px;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-topbar{
	display: flex;
	max-width: 320px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #eaeaeb;
	margin-left: auto;
}
.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -13px;
	margin-left: auto;
}
.hdr-details-col{
	padding: 0 13px;
}
.hdr-mail a,
.hdr-tel a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	color: #323538;
}
.hdr-mail strong,
.hdr-tel strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	color: #323538;
}

.hdr-menu{
	margin-top: 25px;
}

nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: #13a89e;
	padding-top: 10px;
}
nav.main-nav > ul > li{
	padding: 0 15px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 19px;
	line-height: 1;
	position: relative;
	color: #fff;
	padding-bottom: 12px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #EC1218;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	color: #EC1218;
}

nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 15;
    width: 200px;
    padding: 0 0 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 10px 0 10px 10px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #EC1218;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #EC1218;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after {
    height: 100%;
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	font-family: 'Museo-Sans-500';
	font-size: 14px;
	line-height: 1;
	position: relative;
	color: #716A6A;
	text-transform: uppercase;
}
