.header{
	padding-bottom: 25px;
}
.header-inr{
	display: flex;
	flex-wrap: wrap;
}
.hdr-lft{

}
.logo{
	padding: 30px 20px 20px 20px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 99;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
.logo a img{
	max-width: 280px;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-topbar{
	display: flex;
	max-width: 320px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #eaeaeb;
	margin-left: auto;
}
.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -13px;
	margin-left: auto;
}
.hdr-details-col{
	padding: 0 13px;
}
.hdr-mail a,
.hdr-tel a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	color: #323538;
	text-decoration: none;
}
.hdr-mail strong,
.hdr-tel strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	color: #323538;
}

.hdr-mail a:hover,
.hdr-tel a:hover{
	color: #13a89e;
}
.hdr-menu{
	margin-top: 25px;
}

nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: #13a89e;
	padding-top: 10px;
}
nav.main-nav > ul > li{
	padding: 0 12px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	position: relative;
	color: #fff;
	padding-bottom: 12px;
	text-decoration: none;
}
nav.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	background: #fff;
	height: 1px;
	width: 0;
	left: 0;
	top: 70%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.current-menu-item > a:after,
nav.main-nav > ul > li > a:hover:after{
	width: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
/*nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a,*/
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #323538;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a{
	color: #13a89e;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
	width: 100%;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #323538;
    z-index: 15;
    width: 230px;
    padding: 0 0 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    margin-top: 11px;
    border-radius: 2px;

}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 8px 0 8px 10px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #13a89e;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #13a89e;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after {
    height: 100%;
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	position: relative;
	color: #fff;
}
